@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
*{ 
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(90deg, #212226,#3B3C40);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
}

h1 {
    margin-bottom: 10px;
}

p{
    margin: 5px;
}

input{
    background-color: #bfbbb082;
    border: none;
    border-radius: 5px;
    padding: 9px;
    margin: 5px;
}

input:focus{
    outline: none;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.279);
}

a{
    text-decoration: none;
    color: black;
    background-color: #3B3C40;
    padding: 8px 15px;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}

.caixa_login{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 60px;
    background-color: #bfbbb097;
    transition: linear 0.4s;
    width: 345px;
    height: 210px;
    padding: 20px;
    border-radius: 10px;
}

.caixa_login:hover{
    width: 360px;
    height: 225px;
}