@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
*{ 
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(img/pexels-ramon-perucho-10157041.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}