@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg,#212226,#3B3c40);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans',sans-serif  ;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease-in 0.7s;
}

h2{
    color: white;
    font-weight: 800;
    font-size: xx-large;
    margin-bottom: 20px;
    text-shadow: 1px 0px 3px white;
}



header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.inputTarefa{
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 7px 0px 0px 7px;
    border-style: none;
    border-color:white;
    background-color: transparent;
    color: white;
}

section > button{
    border-radius: 0px 7px 7px 0px;
    padding: 10px;
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    color: rgb(91, 92, 93);
}

section > button:hover{
    background-color: rgba(255, 255, 255, 0.082);
    color: white;
}

.lista{
    width: 400px;
    height: 400px;
    background-color: #bfbbb097;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tarefa{
    display:inline-flex;
    justify-content: space-between;
    margin: 15px 15px 0px 15px;
    width: 360px;
    height: 30px;
    color: white;
    background-color: #3B3c40;
    border-radius: 20px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.671);
}

.item-nome{
    text-align: center;
}



.item-icone{
    border-right: 1px solid #bfbbb097;
    border-radius: 20px 0px 0px 20px;
    width: 55px;
    padding: 0px 15px;
    
}

.item-icone:hover{
    cursor: pointer;
    background-color: rgba(52, 62, 52, 0.397);
}

.item-botao{
    
    border-radius:0px 20px 20px 0px ;
    width: 55px;
    padding: 0px 15px;
    background-color: rgba(255, 62, 62, 0.452);
}

.item-botao:hover{
    cursor: pointer;
    background-color: rgba(164, 4, 4, 0.452);
}

.btn-voltar, a{
    margin-top: 10px;
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: white;
    padding: 6px;
}

.btn-voltar:hover, a:active{
    background-color:  #bfbbb097;
    color: black;
    border-radius: 20px; 
}

.itemClicado{
    background-color: rgba(71, 136, 71, 0.397);
}