@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg,#212226,#3B3c40);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans',sans-serif  ;
}

h2{
    color: white;
    font-weight: 800;
    font-size: xx-large;
    margin-bottom: 20px;
    text-shadow: 1px 0px 3px white;
}



header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    
}

.inputTarefa{
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 7px 0px 0px 7px;
    border-style: none;
    border-color:white;
    background-color: transparent;
}

section > button{
    border-radius: 0px 7px 7px 0px;
    padding: 10px;
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    color: rgb(91, 92, 93);
}

section > button:hover{
    background-color: rgba(255, 255, 255, 0.082);
    color: white;
}

.lista{
    width: 400px;
    height: 400px;
    background-color: #3B3c40;
    border-radius: 20px;
}

.tarefa{
    margin: 10px;
}

.btn-voltar, a{
    margin-top: 10px;
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: white;
    padding: 6px;
}

.btn-voltar:hover, a:hover{
    background-color: aliceblue;
    color: black;
    border-radius: 20px;
}

.voltar:hover{
    position: relative;
    left: +10px;
}
